
###############
## Laravel 5 ##
###############
vendor/
.env
.env.behat
hatches.prod.env
config/ide-helper.php
_ide_helper.php
composer.lock
storage/app
storage/framework
storage/logs/
tests/logs/
build.sh

############
## NodeJS ##
############
node_modules/
phantomjsdriver.log
config.js
dump.rdb
npm-debug.log

# OTHER
selenium-server-standalone-*

###############################################################
# This is not a complete .gitignore,                          #
# see this gist for some suggestions                          #
# https://gist.github.com/defenestrator/5ad679db122177888da5  #
# One more One more time, we got this. Right? Grrr            #
###############################################################