
###############
## Laravel 5 ##
###############
vendor/
.env
.env.behat
hatches.prod.env
_ide_helper.php
composer.lock
storage/app
storage/framework
storage/logs/
tests/logs/

############
## NodeJS ##
############
node_modules/
phantomjsdriver.log
config.js
dump.rdb
npm-debug.log


###############################################################
# see this gist for some more suggestions                     #
# https://gist.github.com/defenestrator/5ad679db122177888da5  #
###############################################################
server.conf